<!DOCTYPE html>
    <head>
        <title> Assignment 3 </title>
    </head>
    <body>
        <h2> Assignment 3 </h2>
        <body>
            <tr>
            <form class="example" method="post" action=""
            style="margin:auto;max-width:850px">
            
               <input type="text" placeholder="Search" name="input">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button>
               <input type="date" id="data-apreensao" name="from" class="form-control" format="dd/mm/yyyy" placeholder="DD-MM-YYYY">
               <input type="date" id="data-apreensao" name="to" class="form-control" format="dd/mm/yyyy" placeholder="DD-MM-YYYY">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button> 
               <input type="submit" value="VALUE1" name="action1"/>
               <input type="text" placeholder="from_mag" name="from_mag">
               <input type="text" placeholder="to_mag" name="to_mag">
               <input type="text" placeholder="place" name="place">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>getmag</button>
               <input type="text" placeholder="Search" name="lat">
               <input type="text" placeholder="Search" name="long">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>getCity</button>
               <input type="text" placeholder="Search" name="change_value">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>changeIT</button>
            </form>
            {% if data %}
                {% for i in data%}
                    <br><p>{{i}}
                {% endfor %}
            {%endif%}
                    </tr>
        </body>
</html>