<!DOCTYPE html>
    <head>
        <title> Assignment 6 </title>
    </head>
    <body>
        <h2> Assignment 6 </h2>
        <body>
            <tr>
            <form class="example" method="post" action=""
            style="margin:auto;max-width:850px">
               <input type="text" placeholder="Option" name="input1">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button>
            </form>
            {% if data %}
                <br><p>{{data}}
            {%endif%}

                    </tr>
        </body>
</html>